{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Download Reports</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <br/>
                        <form id="submit_policy_details" action="" method="POST" data-parsley-validate class="form-horizontal form-label-left">
                            {% csrf_token %}

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="start_date">Start Date <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12 input-group date" id='StartDate'>
                                    <input type="text" id="start_date" name="start_date" class="form-control col-md-7 col-xs-12" required="required" autocomplete="off">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="end_date">End Date <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12 input-group date" id='EndDate'>
                                    <input type="text" id="end_date" name="end_date" class="form-control col-md-7 col-xs-12" required="required" autocomplete="off">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="form-group text-center">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <input class="btn btn-primary" value="Reset" type="button" onclick="this.form.reset();">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
{% endblock content %}
{% block extra_scripts %}
<!-- Parsley -->
<script src="{% static 'js/parsleyjs/dist/parsley.min.js'%}"></script>
<!-- jQuery Smart Wizard -->
<script src="{% static 'js/jQuery-Smart-Wizard/jquery.smartWizard.js' %}"></script>

<script type="text/javascript">

    $('#StartDate, #EndDate').datetimepicker({
        format:'DD-MMMM-YYYY',
        // viewMode: "months",
    });

    function get_brand_models() {
        var $select = $('#model');
        $('.selectpicker').selectpicker({style: 'btn btn-primary btn-round'});
        $select.html('');
        $select.append($('<option>', {value: "0", text: "Select a Model"}));
        $('#ajax-loader-fullpage').show();

        var cat_id = $("#category").val().split(':')[0]
        console.log('cat_id \t:')
        console.log(cat_id)
        console.log('brand \t:')
        console.log($("#brand").val())


        $.ajax({
            type: "POST",
            url: "{% url 'policy:get-model' %}",
            data: {'category_id': cat_id, 'brand': $("#brand").val()},
            dataType: 'json',
            async: false,
            success: function (response) {
                item_data = response.responseData
                console.log("\n\n\n");
                console.log("get models response Start:: ");
                console.log(item_data);
                console.log("get models response End:: ");
                console.log(response.partner_code);
                console.log(response.error);
                console.log('\n\n');
                Object.keys(item_data).forEach(function (item) {
                    $select.append($('<option>', {value: item_data[item].item_name, text: item_data[item].item_name}));
                });
            },
            error: function () {
                alert('Error occurred');
            }
        });
    }
</script>
{% endblock extra_scripts %}
