{% extends "base.html" %}
{% load static %}
{% block content %}

 <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Policy >> Initiate Policy</h3>
              </div>

             
            </div>
            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <br />
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="invoice_number">Invoice Number <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="invoice_number" name="invoice_number" class="form-control col-md-7 col-xs-12" required="required">
                            </div>
                        </div>
                        {% comment %}<div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sku">SKU <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="sku" name="sku" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>{% endcomment %}
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="location">Location <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="location" name="location" class="form-control col-md-7 col-xs-12" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="device">Device <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" id="category" name="category" required>
                                    <option value="">Select a Device</option>
                                    {% if category_dropdown %}
                                        {% for key, value  in category_dropdown.items %}
                                            <option value="{{value}}">{{key}}</option>
                                        {% endfor %}
                                    {% endif %}
                                    {% comment %}<option>Consumer Electronics</option>
                                    <option>Home Appliances - Non-Portable</option>
                                    <option>Desktops</option>
                                    <option>Printers</option>
                                    <option>Scanners</option>
                                    <option>Laptops</option>
                                    <option>Notebooks</option>
                                    <option>Netbooks</option>
                                    <option>Tablets</option>
                                    <option>Telecoms</option>
                                    <option>Mobile Phones</option>
                                    <option>Smartphones</option>
                                    <option>Phablets</option>
                                    <option>White Goods</option>{% endcomment %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sub_device">Sub Device <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="sub_device" name="sub_device" class="form-control col-md-7 col-xs-12" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="brand">Brand <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            {% comment %}<input type="text" id="brand" name="brand" class="form-control col-md-7 col-xs-12">{% endcomment %}
                            <select class="form-control col-md-7 col-xs-12" name="brand" id="brand" required>
                                <option value="">Select a Brand</option>
                            </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="model">Model <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="model" name="model" class="form-control col-md-7 col-xs-12" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="purchase_date">Purchase Date <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12 input-group date" id='myDatepicker'>
                                <input type="text" id="purchase_date" name="purchase_date" class="form-control col-md-7 col-xs-12" required="required">                            
                            
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first_name">First Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="first_name" name="first_name" class="form-control col-md-7 col-xs-12" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last_name">Last Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="last_name" name="last_name" class="form-control col-md-7 col-xs-12" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email_id" class="control-label col-md-3 col-sm-3 col-xs-12">Email ID <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="email_id" name="email_id" class="form-control col-md-7 col-xs-12" type="text" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="mobile_number">Mobile Number <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="mobile_number" name="mobile_number" class="form-control col-md-7 col-xs-12" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="imei_serial_no">Imei / Serial Number <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="imei_serial_no" name="imei_serial_no" class="form-control col-md-7 col-xs-12" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="term_type">Term Type <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">                            
                                <select class="form-control" id="term_type" name="term_type" required>
                                    <option value="">Choose Term Type</option>
                                    {% if plan_type_dropdown %}
                                    {% for key, value  in plan_type_dropdown.items %}
                                        <option value="{{value}}">{{value}}</option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="device_value">Device Value <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="device_value" name="device_value" class="form-control col-md-7 col-xs-12" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="device_currency">Device Currency <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="device_currency" name="device_currency" class="form-control col-md-7 col-xs-12" required="required">
                            </div>
                        </div>                        
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button class="btn btn-primary" type="reset">Reset</button>
                            <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
{% endblock content %}
{% block extra_scripts %}
<!-- Parsley -->
<script src="{% static 'js/parsleyjs/dist/parsley.min.js'%}"></script>
<!-- jQuery Smart Wizard -->
<script src="{% static 'js/jQuery-Smart-Wizard/jquery.smartWizard.js' %}"></script>
<script type="text/javascript">
$(function() {
    $("#category").change(function () {
        //alert($(this).val());return false;
        var cat = $(this).val();
        $.post(url = "{% url 'policy:getcatid' %}",
        {
            name: cat
        },
        function(data, status){
            console.log(data['cat_id']);
            cat_id = data['cat_id'];

            if(cat_id != "") {
                $.ajax({
                    url: "{% url 'policy:brand-model' %}",
                    type: "POST",
                    cache: false,
                    data: {
                        'id': cat_id,
                        'ctm_id':1,
                        'slab_codes':''
                    },
                    dataType: 'json',
                    beforeSend: function(){
                        $('#brand').html('');
                        $('#brand').append($('<option value="0">Select a Brand</option>'));
                        $('#ajax-loader-fullpage').show();
                    },
                    success: function (data) {
                            // brand_list(data, brand_name, model_name)
                            console.log(data)
                            Object.keys(data).forEach(function(key) {
                                make_id = data[key].make_id;
                                make_name = data[key].make_name;
                                make_code = data[key].make_code;
                                $('#brand').append($('<option>',{value:make_name, text :make_name}));
                            });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                        console.log(textStatus);
                        console.log(errorThrown);
                    },
                    complete:function(data){
                        $('#ajax-loader-fullpage').hide();
                        //setTimeout(function(){
                            // $('#promo_code_btn').attr('disabled',false);
                        // }, 2000);
                    }
                });
            }else{
                $('#brand').html('');
                $('#brand').append($('<option value="0">Select a Brand</option>'));
            }
        });        
    });
})
</script>
{% endblock extra_scripts %}
