{% load static %}
<script src="{% static 'js/jquery/jquery.min.js'%}"></script>
<!-- Bootstrap -->
<script src="{% static 'js/bootstrap/bootstrap.min.js'%}"></script>
<!-- FastClick -->
<script src="{% static 'js/fastclick/fastclick.js'%}"></script>
<!-- NProgress -->
<script src="{% static 'js/nprogress/nprogress.js'%}"></script>
<!-- iCheck -->
<script src="{% static 'js/iCheck/icheck.min.js'%}"></script>
 <!-- bootstrap-daterangepicker -->
<script src="{% static 'js/moment/moment.min.js'%}"></script>
<!-- bootstrap-datetimepicker -->    
<script src="{% static 'js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js'%}"></script>
<!-- Initialize datetimepicker -->
<script>
    $('#myDatepicker').datetimepicker({
        format:'YYYY-MM-DD HH:mm:ss',
    });
</script>
<!-- Datatables -->
<script src="{% static 'js/datatables.net/js/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'js/datatables.net-bs/js/dataTables.bootstrap.min.js'%}"></script>
<script src="{% static 'js/datatables.net-buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'js/datatables.net-buttons-bs/js/buttons.bootstrap.min.js'%}"></script>
<script src="{% static 'js/datatables.net-buttons/js/buttons.flash.min.js'%}"></script>
<script src="{% static 'js/datatables.net-buttons/js/buttons.html5.min.js'%}"></script>
<script src="{% static 'js/datatables.net-buttons/js/buttons.print.min.js'%}"></script>
<script src="{% static 'js/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js'%}"></script>
<script src="{% static 'js/datatables.net-keytable/js/dataTables.keyTable.min.js'%}"></script>
<script src="{% static 'js/datatables.net-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'js/datatables.net-responsive-bs/js/responsive.bootstrap.js'%}"></script>
<script src="{% static 'js/datatables.net-scroller/js/dataTables.scroller.min.js'%}"></script>
<script src="{% static 'js/jszip/dist/jszip.min.js'%}"></script>
<script src="{% static 'js/pdfmake/build/pdfmake.min.js'%}"></script>
<script src="{% static 'js/pdfmake/build/vfs_fonts.js'%}"></script>